@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

body{
  font-family: "Montserrat", sans-serif;
  margin: 1em 6em;
}

.cake {
  width: 50%;
  float: right;
  margin-left: 70px;
  margin-bottom: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  clear: both;
}

.info {
  margin-bottom: 2em;
}

.info-header {
  float: left;
  border-right: 2px solid brown;
}

.prep-time {
  padding-right: 1em;
}

#scissors {
  height: 40px;
  position: absolute;
float: left;
margin-top: 30px;
}

.bake-time, .total-time{
  padding-right: 1em;
  padding-left: 1em;;
}


.desc {
  margin-bottom: 1em;
  line-height: 40px;
  font-size: 17px;
}

.row h4  {
  font-weight: normal;
}

.row h3 {
  text-align: center;
  padding: .7em 0em .7em 0em;
  font-size: 22px;
}

.row {
margin: auto;
overflow: auto;
clear: both;
}


.row > div {
  background-color: #eee;
  padding-left: 3%;
  padding-right: 3%;
  display: inline-block ;
}
.column1 {
  float: left;
  width: 24%;
  margin-right: 2%;
}

.preparation {
  overflow: scroll;
  height: 700px;
}
.clear {
  clear: right;
}

 .column2 {
   float: left;
   width: 24%;
   border: 2px solid grey;
    margin-right: 2%;
   border-style: dashed;
 }

 .column3 {
   float: left;
   width: 24%;
   padding-bottom: 1em;
 }

 .column2 ul {
   list-style: none;
   line-height: 30px;
 }

 .column2 ul li::before {
   content: "\2022";
   color: brown;
   font-weight: bold;
   font-size: 25px;
   display: inline-block;
   width: 1em;
   margin-left: -1em;
 }

 ol {
  padding: 0;
 list-style: none;
 counter-reset: item;
 line-height: 30px;
}

ol li {
   list-style-position: outside;
  counter-increment: item;
  margin-bottom: 0px;
}
ol li::before {
  margin-right: 10px;
   content: counter(item);
   background: brown;
   border-radius: 100%;
   color: white;
   padding: .01em;
   width: 1.9em;
   text-align: center;
   display: inline-block;
}

.bold {
  font-weight: bold;
}

.serving {
  border-bottom: 3px solid brown;
}

.amount  {
  text-align: left;
}

.column-serv{
  float: left;
  width: 50%;}

#navlist {
  position: relative;
  padding: 1em;
}

#navlist li {
  margin: auto;
  padding: 0;
  list-style: none;
  top: 0;
}

#navlist li, #navlist a {
  height: 86px;
  display: block;
}


#logo {
  left: 0px;
  width: 395px;
  background: url('images/logo.png') 0 0;
}

#logo:hover {
    background: url('images/logo.png') -392px 0;
}
